#scrollToTopBtn {
  background-color: white;
  border: 2px solid #ffc8c5 !important;
  padding: 9px 18px;
  margin: 0.3rem;
  width: 54px;
  height: 54px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border-color: white;
  color: rgb(65, 64, 64);
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background: #fad1ce;
}
